<nav class="navbar navbar-light " style="background-color: #A1CCDE;">
  <div class="container-fluid">
    <a class="navbar-brand" href=" ">Kömek</a>
    <div class="input-group" style="position: absolute; text-align: center; pointer-events: none; color: #aaa; padding-right: 265px; padding-left: 845px;">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <div class="sign" style="margin-left: 1050px;">
      <button type="button" class="btn btn-primary me-3" style="color: #010203; background-color: #A1CCDE; border-color: #969699">
        Sign in/up
      </button>
    </div>
    <button class="navbar-toggler" style="border-color: #969699; margin-right: -10px;">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>
