<div class="row">
<div class="container-xl mt-3 mb-5 pb-3 py-2 shadow-lg rounded">
  <img src="assets/images/mypage_example.png" class="shadow-lg rounded-circle mx-auto d-block mt-5 mb-5" width="200px" alt="User photo">
  <h1 class="pb-5 display" style="text-align: center">Name Surname</h1>
  <div class="rounded pt-4 pb-4 shadow-sm" style="background-color: #E9E9E9">
    <div class="row">
      <div class="col text-center">
        <h2>Email</h2>
      </div>
      <div class="col text-center">
        <h2>Date of birth</h2>
      </div>
      <div class="col text-center">
        <h2>Gender</h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h3 class="text-secondary">email@gmail.com</h3>
      </div>
      <div class="col text-center">
        <h3 class="text-secondary">99/99/9999</h3>
      </div>
      <div class="col text-center">
        <h3 class="text-secondary">Female</h3>
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center pt-5 mt-3">
    <h2>Recent donations</h2>
  </div>
  <div class="col d-flex justify-content-center mb-5">
    <table class="table table-hover rounded shadow-sm" style="background-color: #E5E5E5; width: 500px">
      <tbody>
      <tr>
        <td><p class="ml-3">Help Almaty ₸ 15000</p></td>
      </tr>
      <tr>
        <td><a class="btn" routerLink="/my_donations" role="button">See more...</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="container d-flex justify-content-center mb-3">
    <a class="btn mr-2" routerLink="/change_password" role="button" style="background-color: #E5E5E5">Change password</a>
    <a class="btn ml-2" routerLink="/edit" role="button" style="background-color: #E5E5E5">Edit</a>
  </div>
</div>
</div>
